.text-block {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  &__title {
    width: 100%;
    background-color: unset;
    border: 0;

    &:focus {
      outline: none;
    }
  }
}
