$text-color: rgba(25, 23, 17, 0.6);
$header-color: rgba(55, 53, 47, 0.4);
$box-background: rgba(55, 53, 47, 0.08) none repeat scroll 0% 0%;

.sider {
    padding: 16px;
    display: flex;
    flex-direction: column;
    color: $text-color;
    background-color: rgb(247, 246, 243);

    &__block {
        margin-bottom: 20px;
    }

    &__workspace {
        padding: 4px 0;
        font-weight: bold;
    }

    &__search,
    &__updates,
    &__settings {
        cursor: not-allowed;
        padding: 4px 0;
    }

    &__updates {
        font-weight: bold;
    }

    &__section-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 8px;
        text-transform: uppercase;
    }

    &__menu {
        flex: 1;
    }

    &__menu-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: $text-color;
        padding: 4px;

        &:hover {
            color: $text-color;
            background: $box-background;
        }

        &_selected {
            background: $box-background;
        }
    }
}
